<div class="product-card">
  <div class="product-card__image-container">
    <img src="{{ product.image | asset_url }}" alt="{{ product.title }}" class="product-card__image" />
  </div>
  <div class="product-card__info">
    <div>
      <h3 class="product-card__title">{{ product.title }}</h3>
      <p class="product-card__price">{{ product.price | money }} USD</p>
    </div>
    <div class="product-card__cart-icon">
      <img src="{{ data['featured-products'].settings.cart_icon | asset_url }}" alt="Add to cart icon" />
    </div>
  </div>
</div>

